body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
}

#one {
  grid-column: 1 / span 2;
  grid-row: 1;
  height: 70px;
}

#two {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

#three {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

#four {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
}

#five {
  grid-column: 1 / span 1;
  grid-row: 8 / span 2;
}

#six {
  grid-column: 2 / span 1;
  grid-row: 8 / span 2;
}

#seven {
  grid-column: 1 / span 1;
  grid-row: 10 / span 2;
}

#eight {
  grid-column: 2 / span 1;
  grid-row: 10 / span 2;
}

#nine {
  grid-column: 1 / span 2;
  grid-row: 12 / span 1;
}


/* Mobile Tablet view */
@media (min-width: 768px){
  #one {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 120px;
  }
  
  #two {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  
  #three {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }
  
  #four {
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
  }
  
  #five {
    grid-column: 1 / span 1;
    grid-row: 8 / span 2;
  }
  
  #six {
    grid-column: 2 / span 1;
    grid-row: 8 / span 2;
  }
  
  #seven {
    grid-column: 1 / span 1;
    grid-row: 10 / span 2;
  }
  
  #eight {
    grid-column: 2 / span 1;
    grid-row: 10 / span 2;
  }
  
  #nine {
    grid-column: 1 / span 2;
    grid-row: 12 / span 1;
  }

}

/* Desktop View */
@media (min-width: 1025px){
  body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
  }
  #one {
    grid-column: 1 / span 5;
    grid-row: 1;
    height: 130px;
  }
  
  #two {
    grid-column: 1;
    grid-row: 2 / span 7;
  }
  
  #three {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
  }
  
  #four {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
  }
  
  #five {
    grid-column: 2 / span 1;
    grid-row: 4 / span 3;
  }
  
  #six {
    grid-column: 3 / span 1;
    grid-row: 4 / span 3;
  }
  
  #seven {
    grid-column: 4 / span 1;
    grid-row: 4 / span 3;
  }
  
  #eight {
    grid-column: 5 / span 1;
    grid-row: 4 / span 3;
  }
  
  #nine {
    grid-column: 2 / span 4;
    grid-row: 7 / span 2;
  }

}

